html {
  color-scheme: light dark;

  /* Met de light-dark() functie definieer je in één keer een lichte en donkere waarde voor je custom properties. */
  --background: light-dark(#3a72df, #463b88);
  --color: light-dark(whitesmoke, whitesmoke);

  --background-button: light-dark(#445a9f, whitesmoke);
  --color: light-dark(white, white);
}

/* Dit stukje has() geeft aan dat als de lichte optie is gekozen (toggle checked), je met color-scheme kunt aangeven dat het lichte thema actief is. Hetzelfde geldt voor de donkere optie.  */
html:has([value="light-theme"]:checked) {
  color-scheme: light;
}

html:has([value="dark-theme"]:checked) {
  color-scheme: dark;
}

@font-face {
  font-family: "Euripides";
  src: url("../type/Euripides.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Smokum";
  src: url("../type/Smokum-Regular.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Smokum";
  src: url("../type/Euripides-SemiBold_web.woff");
  font-weight: 700;
  font-style: normal;
}

/* @font-face {
  font-family: "Euripides, sans-serif";
  src: url("../type/Euripides.woff");
  font-weight: 400px;
  font-style: normal;
} */

h1 {
  font-family: "Euripides", sans-serif;
  font-weight: 700;
  font-size: 6rem;
  padding-left: 30px;
}

body {
  font-family: "Euripides", sans-serif;
  background-color: var(--background);
  color: var(--color);
}

/* Hier begint o.a. de grid */
main {
  display: grid;
  gap: 2em;
  padding: 5em;

  @media (width > 28em) {
    grid-template-columns: 1fr;
  }

  @media (width > 40em) {
    grid-template-columns: 1fr 1fr;
  }

  @media (width > 62em) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

section:nth-of-type(1) {
  img {
    width: 100%;
    transition: 0.2s;
  }

  img:hover {
    transform: scale(1.05);
  }
}

section:nth-of-type(2) {
  img {
    width: 100%;
    transition: 0.2s;
  }

  img:hover {
    transform: scale(1.05);
  }
}

section:nth-of-type(3) {
  img {
    width: 100%;
    transition: 0.2s;
  }

  img:hover {
    transform: scale(1.05);
  }
}

section:nth-of-type(4) {
  img {
    width: 100%;
    transition: 0.2s;
  }

  img:hover {
    transform: scale(1.05);
  }
}
